{% block content %}
<div class="min-h-screen mx-auto bg-[#F9F1E7] pt-12 w-full">
    <div class="w-[80%] mx-auto">
        <div class="flex justify-center lg:justify-end pb-5">
            <button onclick="openReviewModal()" class="bg-[#362417] text-white text-base font-bold px-6 py-2 rounded-2xl max-lg:w-full">Write a Review</button>
        </div>
    
        {% include 'reviews/review_list.html' %}
        {% include 'reviews/review_modal.html' %}
    </div>
</div>

<script>
    function openReviewModal() {
        document.getElementById('reviewModal').classList.remove('hidden');
        document.getElementById('reviewModal').classList.add('flex');
    }

    document.getElementById('reviewModal').addEventListener('click', function(event) {
        if (event.target === this) {
            document.getElementById('reviewModal').classList.add('hidden');
            document.getElementById('reviewModal').classList.remove('flex');
        }
    });
</script>
{% endblock %}
