{% load static %}

{% block content %}
<div class="flex justify-center">
    <div class="rating w-full">
        <div class="rating_avg bg-white p-4 rounded-lg text-center space-y-2">
            <p>Reviews</p>
            <h1 id="average_rating" class="text-3xl font-bold">0</h1>

            <div class="star_outer relative text-gray-200 text-xl inline-block">
                <div id="star_inner" class="star_inner absolute top-0 left-0 text-[#E7B66B] overflow-hidden">
                    &#9733;&#9733;&#9733;&#9733;&#9733;
                </div>
  
                <div>
                    &#9733;&#9733;&#9733;&#9733;&#9733;
                </div>
            </div>
            <p id="review_count" class="text-sm text-gray-500">(0 Reviews)</p>
        </div>
    </div>
</div>

<script>
    const data = [
        { star: 5, count: 200000 },
        { star: 4, count: 70000 },
        { star: 3, count: 15000 },
        { star: 2, count: 4200 },
        { star: 1, count: 1090 }
    ];

    let total_rating = 0;
    let total_reviews = 0;

    data.forEach((rating) => {
        total_reviews += rating.count;
        total_rating += rating.count * rating.star;
    });

    const average_rating = total_rating / total_reviews;
    // Mengubah lebar bintang berdasarkan average rating (misal: 4.5 = 90%)
    const starPercentage = (average_rating / 5) * 100;

    document.getElementById('star_inner').style.width = `${starPercentage}%`;
    document.getElementById('average_rating').textContent = average_rating.toFixed(1);
    document.getElementById('review_count').textContent = `(${total_reviews.toLocaleString()} Reviews)`;
</script>
{% endblock content %}
