{% block content %}
<div>
    <div class="mx-auto w-full mt-10">
        <div class="space-y-1">
            {% for review in reviews %}
            <div class="bg-white p-6 rounded-lg">
                <div class="flex items-center">
                    <div class="w-12 h-12 bg-[#0A014F] text-white flex items-center justify-center rounded-full mr-4">
                        <span class="text-xl font-bold">{{ review.user_initials }}</span>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold">{{ review.user_name }}</h3>
                        <p class="text-sm text-gray-500">{{ review.date }}</p>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="inline-flex items-center">
                        {% for star in review.stars %}
                        <div class="text-[#E7B66B]">
                            &#9733;
                        </div>
                        {% endfor %}
  
                        {% for empty_star in review.empty_stars %}
                        <div class="text-gray-200">
                            &#9733;
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <p class="mt-4 text-gray-700">{{ review.text }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}