{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SOUNDNEST</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="bg-gray-100">
        {% block content %} {% endblock content %}
    </body>

    <footer class="fixed bottom-0 left-0 right-0 md:flex justify-between bg-white px-6 py-3 text-xs md:text-base">
        <p>&copy;2024 SOUNDNEST. All rights reserved.</p>
    </footer>

    <!-- Scripts -->
    <script>
        var username = document.getElementById('dropdownButton').getAttribute('data-username'); // Mendapatkan username user yang sedang login
        var dropdownMenu = document.getElementById('dropdownMenu');
        var dropdownButton = document.getElementById('dropdownButton');
        var mobileMenu = document.getElementById('mobileMenu');
        var mobileMenuButton = document.getElementById('mobileMenuButton');
        
        document.getElementById('dropdownButton').addEventListener('click', function () {
            if (username){
                if (dropdownMenu.classList.contains('hidden')) {
                    dropdownMenu.classList.remove('hidden');
                } else {
                    dropdownMenu.classList.add('hidden');
                }
            }
        });

        document.getElementById('mobileMenuButton').addEventListener('click', function () {
            if (username){
                if (mobileMenu.classList.contains('hidden')) {
                    mobileMenu.classList.remove('hidden');
                } else {
                    mobileMenu.classList.add('hidden');
                }
            }
        });

        // Close Dropdown
        window.onclick = function(event) {
            if (!dropdownButton.contains(event.target)) {
                dropdownMenu.classList.add('hidden');
            }

            if (!mobileMenuButton.contains(event.target)) {
            mobileMenu.classList.add('hidden');
        }
        }
    </script>
</html>