{% load static %}

<footer class="py-8">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 mt-6">
        <div class="flex flex-col md:flex-row justify-between items-start">
            <div class="footer-left">
                <h2 class="text-2xl font-bold">Soundnest</h2>
                <p class="mt-6 mb-10 text-gray-400 font-semibold">
                    Fakultas Ilmu Komputer Universitas Indonesia<br>
                    Depok, West Java<br>
                    Indonesia
                </p>
            </div>
            <div class="footer-right mb-8 md:mt-0 md:text-left">
                <ul class="flex flex-col space-y-8 font-semibold mr-8">
                    <li><a href="#" class="hover:text-gray-400">Home</a></li>
                    <li><a href="#" class="hover:text-gray-400">About</a></li>
                    <li><a href="#" class="hover:text-gray-400">Discussions</a></li>
                </ul>
            </div>
        </div>
        <hr class="my-4 border-gray-300"> <!-- Grey line -->
        <p class="font-semibold mt-6 text-gray-600">&copy; 2024 Soundnest. All rights reserved.</p>
    </div>
</footer>