{% load static %}
<nav class="border-b border-gray-300 bg-white h-25">
    <div class="max-w-screen mx-auto py-4 px-6 md:px-12 h-full">
        <div class="flex justify-between items-center h-full">
            <a href="/" class="flex items-center font-bold">
                <img src="{% static 'images/logo.webp' %}" alt="Soundnest Logo" class="h-10 w-auto mr-1">
                SOUNDNEST
            </a>

            <!-- Hamburger Icon (Mobile) -->
            <div class="md:hidden flex">
                <button id="mobileMenuButton" class="focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>
            </div>

            <!-- Desktop Menu -->
            <ul class="hidden md:flex items-center justify-center flex-grow space-x-8">
                <a href="/"><li>Home</li></a>
                <a href="{% url 'products:home' %}"><li>Products</li></a>
                <a href="{% url 'Discussions:view_threads' %}"><li>Discussions</li></a>
                <a href="/best-deals"><li>Best Deals</li></a>
            </ul>

            <div class="hidden md:flex items-center space-x-6 ml-12">
                {% if user.is_authenticated  %}
                <a href="{% url 'authentication:logout' %}" class="bg-[#B88E2F] hover:bg-amber-900 rounded-lg py-2 text-white px-4">Logout</a>
                    <a href="{% url 'WishList:view_wishlist' %}">
                        <img src="{% static 'images/wishicon.webp' %}" alt="My Wishlist" class="h-6 w-7">
                    </a>
                    <a href="/profile">
                        <img src="{% static 'images/profile.webp' %}" alt="My Profile" class="h-7 w-8">
                    </a>
                {% else %}
                    <a href="{% url 'authentication:login_page' %}" class="text-gray-700">Log In</a>
                    <a href="{% url 'authentication:register_page' %}" class="bg-[#B88E2F] hover:bg-amber-900 rounded-lg py-2 text-white px-4">Register</a>

                {% endif %}
            </div>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div id="mobileMenu" class="hidden md:hidden bg-gray-100 text-md text-gray-700 px-6 pt-4 pb-6">
        <ul class="flex flex-col items-center justify-center space-y-3 text-center">
            <li class="w-full">
                <a href="/" class="block hover:bg-[#F9F1E7] rounded-lg py-2">Home</a>
            </li>

            <li class="w-full">
                <a href="{% url 'products:home' %}" class="block hover:bg-[#F9F1E7] rounded-lg py-2">Products</a>
            </li>

            <li class="w-full">
                <a href="{% url 'Discussions:view_threads' %}" class="block hover:bg-[#F9F1E7] rounded-lg py-2">Discussions</a>
            </li>

            <li class="w-full">
                <a href="{% url 'WishList:view_wishlist' %}" class="block hover:bg-[#F9F1E7] rounded-lg py-2">Wish List</a>
            </li>
            <!-- Profile Icon (Mobile) -->
            {% if user.is_authenticated %}
                <li class="w-full">
                    <a href="/profile" class="block hover:bg-[#F9F1E7] rounded-lg py-2">Profile</a>
                </li>

                <li class="w-full">
                    <a href="{% url 'authentication:logout' %}" class="block bg-[#B88E2F] hover:bg-amber-900 rounded-lg py-2 text-white">Logout</a>
                </li>
            {% else %}
                <li class="w-full">
                    <a href="{% url 'authentication:login_page' %}" class="block bg-white rounded-lg py-2 hover:bg-[#F9F1E7]">Log In</a>
                </li>

                <li class="w-full">
                    <a href="{% url 'authentication:register_page' %}" class="block bg-[#B88E2F] hover:bg-amber-900 rounded-lg py-2 text-white">Register</a>
                </li>
            {% endif %}
        
        </ul>
    </div>
</nav>

<script>
    var dropdownMenu = document.getElementById('dropdownMenu');
    var dropdownButton = document.getElementById('dropdownButton');
    var mobileMenu = document.getElementById('mobileMenu');
    var mobileMenuButton = document.getElementById('mobileMenuButton');

    dropdownButton?.addEventListener('click', function () {
        dropdownMenu.classList.toggle('hidden');
    });

    mobileMenuButton?.addEventListener('click', function () {
        mobileMenu.classList.toggle('hidden');
    });

    // Close Dropdown
    // window.onclick = function(event) {
    //     if (!dropdownButton?.contains(event.target)) {
    //         dropdownMenu.classList.add('hidden');
    //     }
    //     if (!mobileMenuButton?.contains(event.target) && !mobileMenu.contains(event.target)) {
    //         mobileMenu.classList.add('hidden');
    //     }
    // }
</script>
