{% load static %}

<nav class="border-b border-gray-300 bg-white h-25">
    <div class="max-w-screen mx-auto py-4 px-6 md:px-12 h-full">
        <div class="flex justify-between h-full">
            <a href="/" class="flex items-center font-bold">
                <img src="{% static 'images/logo.webp' %}" alt="Soundnest Logo" class="h-10 w-auto mr-1">
                SOUNDNEST
            </a>

            <!-- (Hamburger Icon) -->
            <div class="md:hidden flex">
                <button id="mobileMenuButton" class="focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>
            </div>

            <!-- Desktop Menu -->
            <ul class="hidden md:flex items-center space-x-8">
                <a href="/"><li>Home</li></a>
                <a href="/"><li>About</li></a>
                <a href="{% url 'Discussions:view_threads' %}"><li>Discussions</li></a>
            </ul>

            <div class="hidden md:flex items-center space-x-4">
                <!-- Profile Icon -->
                <a href="/" class="text-gray-300 hover:text-white">
                    <svg width="25" height="25" viewBox="0 0 25 24" fill="#343C54" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4337 6.35C16.4337 8.74 14.4937 10.69 12.0937 10.69L12.0837 10.68C9.69365 10.68 7.74365 8.73 7.74365 6.34C7.74365 3.95 9.70365 2 12.0937 2C14.4837 2 16.4337 3.96 16.4337 6.35ZM14.9337 6.34C14.9337 4.78 13.6637 3.5 12.0937 3.5C10.5337 3.5 9.25365 4.78 9.25365 6.34C9.25365 7.9 10.5337 9.18 12.0937 9.18C13.6537 9.18 14.9337 7.9 14.9337 6.34Z" fill="#343C54"/>
                        <path d="M12.0235 12.1895C14.6935 12.1895 16.7835 12.9395 18.2335 14.4195V14.4095C20.2801 16.4956 20.2739 19.2563 20.2735 19.4344L20.2735 19.4395C20.2635 19.8495 19.9335 20.1795 19.5235 20.1795H19.5135C19.0935 20.1695 18.7735 19.8295 18.7735 19.4195C18.7735 19.3695 18.7735 17.0895 17.1535 15.4495C15.9935 14.2795 14.2635 13.6795 12.0235 13.6795C9.78346 13.6795 8.05346 14.2795 6.89346 15.4495C5.27346 17.0995 5.27346 19.3995 5.27346 19.4195C5.27346 19.8295 4.94346 20.1795 4.53346 20.1795C4.17346 20.1995 3.77346 19.8595 3.77346 19.4495L3.77345 19.4448C3.77305 19.2771 3.76646 16.506 5.81346 14.4195C7.26346 12.9395 9.35346 12.1895 12.0235 12.1895Z" fill="#343C54"/>
                    </svg>
                        
                </a>
                <!-- Wishlist Icon -->
                <a href="/" class="text-gray-300 hover:text-white">
                    <svg width="25" height="25" viewBox="0 0 24 24" fill="#343C54" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8227 4.77124L12 4.94862L12.1773 4.77135C14.4244 2.52427 18.0676 2.52427 20.3147 4.77134C22.5618 7.01842 22.5618 10.6616 20.3147 12.9087L13.591 19.6324C12.7123 20.5111 11.2877 20.5111 10.409 19.6324L3.6853 12.9086C1.43823 10.6615 1.43823 7.01831 3.6853 4.77124C5.93237 2.52417 9.5756 2.52417 11.8227 4.77124ZM10.762 5.8319C9.10073 4.17062 6.40725 4.17062 4.74596 5.8319C3.08468 7.49319 3.08468 10.1867 4.74596 11.848L11.4697 18.5718C11.7625 18.8647 12.2374 18.8647 12.5303 18.5718L19.254 11.8481C20.9153 10.1868 20.9153 7.49329 19.254 5.83201C17.5927 4.17072 14.8993 4.17072 13.238 5.83201L12.5304 6.53961C12.3897 6.68026 12.199 6.75928 12 6.75928C11.8011 6.75928 11.6104 6.68026 11.4697 6.53961L10.762 5.8319Z" fill="#343C54"/>
                    </svg> 
                </a>

                <a href="{% url 'authentication:logout' %}" class="space-x-4 flex items-center">
                    <button type="submit" class="px-6 py-1 border border-red-500 border-2 text-left bg-red-400 hover:bg-red-500 text-white text-center rounded-md" role="menuitem">
                        Logout
                    </button>
                </a>
            </div>
            <!-- Dropdown -->
            <!-- <div class="relative hidden md:inline-block">
                {% if current_user %}
                    <button id="dropdownButton" data-username="{{ current_user.username }}" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50" aria-expanded="true" aria-haspopup="true">
                        Hello, {{ current_user.username }}
                        <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 10.66l3.71-3.43a.75.75 0 011.06 1.06l-4.25 3.93a.75.75 0 01-1.06 0L5.21 8.29a.75.75 0 01.02-1.08z" clip-rule="evenodd" />
                        </svg>
                    </button>
            
                    <div id="dropdownMenu" class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-gray-100 text-sm text-gray-700 px-4 py-2" role="menu" aria-orientation="vertical" aria-labelledby="dropdownButton">
                        <div class="py-1" role="none">
                            <a href="#" class="block hover:bg-gray-200" role="menuitem">Profile</a>
                            
                            <p class="py-2">Last Login : {{ last_login }}</p>
                            <a href="/">
                                <button type="submit" class="w-full text-left bg-red-400 hover:bg-red-500 text-white text-center rounded-md" role="menuitem">
                                    Logout
                                </button>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="space-x-4 flex items-center">
                        <a href="/login" class="text-sm font-medium text-gray-700 hover:text-gray-900 px-4 py-2 border border-gray-300 rounded-md hover:bg-gray-50">
                            Log In
                        </a>
                        <a href="/signup" class="text-sm font-medium text-white bg-[#B88E2F] hover:bg-amber-900 px-4 py-2 rounded-md">
                            Sign Up
                        </a>
                    </div>
                {% endif %}
            </div> -->
        </div>
    </div>

    <!-- Mobile Menu -->
    <div id="mobileMenu" class="hidden md:hidden bg-gray-100 text-md text-gray-700 px-6 pt-4 pb-6">
        <ul class="flex flex-col items-center justify-center space-y-3 text-center">
            <li class="w-full">
                <a href="/" class="block hover:bg-gray-200 rounded-lg py-2">Home</a>
            </li>

            <li class="w-full">
                <a href="/" class="block hover:bg-gray-200 rounded-lg py-2">About</a>
            </li>

            <li class="w-full">
                <a href="{% url 'Discussions:view_threads' %}" class="block hover:bg-gray-200 rounded-lg py-2">Discussions</a>
            </li>

            <li class="w-full">
                <a href="#" class="block hover:bg-gray-200 rounded-lg py-2">Profile</a>
            </li>    

            <li class="w-full">
                <a href="/" class="block bg-red-400 hover:bg-red-500 rounded-lg py-2 text-white">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    var mobileMenu = document.getElementById('mobileMenu');
    var mobileMenuButton = document.getElementById('mobileMenuButton');

    mobileMenuButton.addEventListener('click', function () {
        if (mobileMenu.classList.contains('hidden')) {
            mobileMenu.classList.remove('hidden');
        } else {
            mobileMenu.classList.add('hidden');
        }
    });

    window.onclick = function(event) {
        if (!mobileMenuButton.contains(event.target) && !mobileMenu.contains(event.target)) {
            mobileMenu.classList.add('hidden');
        }
    };
</script>